<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <%= yield %> <!-- load whatever template was called here -->
  </body>
</html>
<form method='get' action='/names'>
  <input type='search' name='student_name'>
  <input type='submit'>
</form>
<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

  </head>
  <body>
    <h1>Bottles <%=@num_bottles%> </h1>
    <% if  @num_bottles == 0 %>
     No bottles of beer on the wall. <a href='/99'>start over</a>
     <%else%>
     <%= @num_bottles %> bottles of beer on the wall. <a href="/<%= @num_bottles -1 %>">Take one down</a>
    <% end%>
  </body>
</html> -->
