<form method="get" action=".">
  <input type="text" name="first_name" placeholder="First name" value="nerd" />
  <input type="text" name="last_name" placeholder="Last name" value="nerd" />
  <input type="submit" value="Submit" />
</form>
<h1>The names, <%= @last_name %> <%= @first_name %> <%= @last_name %></h1>
